@model DealDouble.Entities.Auction

<h2>Are you sure you want to delete this auction?</h2>

<form method="post">
    <input type="hidden" name="ID" value="@Model.ID" />
    <button>
        Yes
    </button>
</form>

<form method="get" action="/Auctions/Index">
     <button>
        No
    </button>
</form>